#create {
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;


}

#update {
	float: right;
	margin-left: 20px;
}

#create p, #update p {
	width: 250px !important;
}



.admin {
	display: inline-block;
}

