.ui.form {
	width: 45%;
	margin: auto;
}

.ui.form label, #upload {
	text-align: left;
}

.url {
	text-align: left;
	font-weight: bold;
}

.url label {
	padding-right: 5px;
}

#def {
	font-weight: bold;
	padding-right: 5px;
}

#upload {
	padding-bottom: 10px;
}

.radiobtn {
	margin-top: 10px;
}